{% extends 'base.html' %}
{% block body %}
    <h2>{{ the_title }}</h2>
    <form action="/calculate/" method="post">
    <table>
        <p>Use thes form to submit the data to calculate the area of kite</p>
        <tr>
            <td>D:</td>
            <td><input type="number" name="D"></td>
        </tr>
        <tr>
            <td>d:</td>
            <td><input type="number" name="d"></td>
        </tr>

    </table>
    <p>When you're ready, click in this button</p>
    <p><input type="submit" name="btn_calculate" value="calculate"/></p>

    </form>

{% endblock %}